.age{font-style:italic;
color:darkgrey;}
#nav { display:flex; 
justify-content: space-between;
overflow: hidden;
background-color: black;}
#nav a{ float:left;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
color: white;}
#nav a:hover{ background-color: #ddd;
color: black;}
body{ background-color: bisque;
    font: courier, monospace;
margin: auto;}
h1{font: trebuchet; 
font-style: italic; font-size: xx-large;}